*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.heading{
    margin-left: 40%;
    margin-top: 3%;
}
.heading1{
    font-weight: lighter;
}
.client{
    margin-left: -6%;
    margin-top: 3%;
}
.reviews{
    margin-top: 3%;
    margin-left: 20%;
    padding: 40px 0;
    background : linear-gradient(90deg,rgb(124, 191, 124),rgb(104, 186, 230),rgb(227, 95, 219),rgb(180, 111, 59),rgba(212, 203, 78, 0.558));
    color:#434343 ;
    text-align: center;
    max-height: 300px;
    max-width:800px ;
   
}
.inner{
    min-width: 1200px;
    height: auto;
    margin-left:-30% ;
    overflow: hidden;
    padding: 0 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column{
    flex: 33%;
    max-width: 33%;
    box-sizing: border-box;
    padding: 15px;
    
}

.review{
    background: #fff;
    padding: 70px;
    border-style:outset;
    border-color: #fff;
    box-sizing: border-box;
    height: 290px;
}

.review img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -140%;
    margin-top: -40%;
}

.name{
    font-size: 20px;
    font-weight:bold;
    text-transform: uppercase;
    margin: -55px 0;
    color: blueviolet;
}
.occup{
    margin: 60px 0;

    font-size: small;
}
.review p{ 
    margin-top: -2%;
    min-width: 200px;
    margin-left: -20%;
}
.stars{
    margin-top: -23%;
    margin-bottom: 20%;
    color: rgb(211, 138, 3);
}

@media screen and (min-width:700px) {
.column{
    flex: 10%;
    min-width:10%;
}
}